body,html{
  height: 100%;
}
.page__wrapper{
  text-align: center;
  min-height: 100%;
  /*width: 1400px;*/
}
.layout{
  height: 100%;
}
.layout__inner{
  width: 1165px;
  margin: 0px auto;
  min-height: 100%;
  /*background-color: #313131;*/
}
.header {
  height: 100px;
  line-height: 100px;
  background-color: #f8f8f8;
}
.header .layout__inner {
  /*background-color: #B8B8B8;*/
}
.header__soc {
  float: left;
  /*margin-left: 50px;*/
}
.header__soc img {
  padding-right: 25px;
}
.header__soc img, .header__menu img {
  width: 16px;
  height: auto;
}
.header__menu {
  float: right;
  /*margin-right: 50px;*/
}
.header__title {
  font-weight: bold;
  margin-left: -228px;
}
.header.black {
  background-color: black;
}
.header.black .header__title {
  color: white;
}
.gallery {
    padding-top: 45px;
    padding-bottom: 25px;
}
/*.gallery{
 padding: 0px;
 margin: 0px;
 padding-top: 70px;
}*/
.gallery__item{
position: relative;
float: left; 
width: 253px;
height: 253px;
overflow: hidden;
border: 2px solid #fff;
/*margin-right: 45px;*/
margin-bottom:45px;
/*background-image: url('../img/12.jpg');*/
background-size: cover;
z-index: 10;
}
.gallery__item:nth-child(4n){
margin-right: 0;
}
.gallery__item-top {
position: absolute;
top: -65px;
left: 0;
right: 0;
height: 35px;
background-color: rgba(0,0,0,0.65);
z-index: 11;
color: #fff;
text-align: left;
padding: 14px;
overflow: hidden;
transition: 0.5s;
opacity: 0;
}
.gallery__item-desc {
float: left;
width: 70%;
padding-right: 5%;
}
.gallery__item-desc span{
display: block;
}
.gallery__item-date{
float: right;
width: 25%;
text-transform: uppercase;
}
.gallery__item-date span{
text-transform: none;
display: block;}

.gallery__item:hover .gallery__item-top {
opacity: 1;
top: 0;
}
.gallery__item-bottom{
position: absolute;
bottom: -70px;
left: 0;
right: 0;
height: 20px;
background-color: #fff;
z-index: 11;
color: #000;
text-align: center;
padding: 25px 15px;
overflow: hidden;
transition: 0.5s;
opacity: 0;
}
.gallery__item-bottom span {
   float: right;
   margin-top: 2px;
   padding-left: 5px;
   display: inline-block;
   color: grey;
}
.gallery__item-bottom img {
 width: 20px;
 line-height: 15px;
}
.gallery__item-like{
margin-right: 20px;
float: left;
width:50px;
}
.count{
padding-left: 8px;
color: #9f9d9b ;
font-size: 13px;
font-family: Arial;
font-weight: Bold;
}
.gallery__item-comment {
float: left;
width: 50px;
}
.gallery__item-zoom{
float: right;
}
.gallery__item:hover .gallery__item-bottom{
opacity: 1;
bottom: 0;
}
.gallery span.text-bold {
  font-weight: bold;
}
ul {
text-align: justify;
padding: 0px;
margin: 0px;
}
ul li {
display: inline-block
}
ul li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}
.hero {
  padding: 75px;
  background-color: white;
text-align: center;
vertical-align: middle;
/*line-height: 90px;*/  }
.hero__title {
  font-weight: bold;
}
.hero__text {
  width: 700px;
  margin: 0 auto;
  padding: 32px;
}
button {
    cursor:pointer;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    width: 270px;
}
button:hover {
    color: grey;
}
.articles {
  height: 100px;
}
.article {
  float:left;
}
.nav {
  float:right;
}
.article__content {
}
.additional {
  height: 100px;
}
.contact {
  float:left;
}
.randsub {
  float:right;
}
.rands {
  height: 50px;
}
.rand.left {
  float: left;
}
.rand.right {
  float:right;
}
.nav__content {
  /*float:right;*/
}
.content {
  background-image: url('../img/background.png');
}
.content .layout__inner {
  /*background-image: url('../img/Grey.jpg');*/
}
.content__title
{
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  width: 640px;
  height: 250px;
  position: relative;
  margin-top: 20px;
}
.content__title h1
{
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 10px;
  margin-bottom: 5px;
}

h2
{
  color: #667418;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.content__body {
  background-color: white;
  text-align: left;
  padding: 5px 20px 20px;
  background-color: grey;
}

p, h1, h2, .footer {
    font-family: 'Times New Roman', Times, serif;
}

.footer {
  text-align: left;
  color: grey;
  font-size: 12px;
}
