{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>News</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
    <div class="news_item">
        <div class="news_header">
            <b>{{news_header}}</b>
        </div>
        <div class="news_content">
            {{news_content}}
        </div>
    </div>
</body>
