{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>News</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
    <div class="news">
        <table>
            <tbody>
                {% for news, content in news_items %}
                    <tr>
                        <td>
                            <a href='news/{{news}}' >{{news}}</a>
                        </td>
                        <td>
                            {{content}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
