<div class="jquery-task">
    <button id="button-green" class="buttons-color"></button>
    <button id="button-red" class="buttons-color"></button>
    <button id="button-blue" class="buttons-color"></button>
    <div id="block-color-change"></div>
</div>
<div class="jquery-task">
    <p>Калькулятор</p>
    <div class="field"><input type="text" name="field1"></div>
    <div class="field"><input type="text" name="field2"></div>
    <button class="operation">+</button>
    <button class="operation">-</button>
    <button class="operation">/</button>
    <button class="operation">*</button>
    <div class="field"><input type="text" name="result"></div>
</div>
<a href="{% url 'single_page' %}">Одностраничное приложение</a>
