<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.name.label_tag}}
    <p><input type="text" required name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}"></p>
    {{ form.name.errors }}
    {{ form.password.label_tag }}
    <p><input type="password" required name="{{ form.password.name }}" value="{{ form.password.value|default_if_none:'' }}"></p>
    {{ form.password.errors }}
    <button type="submit">Сохранить</button>
</form>
{% if state %}
    {{ state }}
{% endif %}
