    <div class="news_item">
        <div class="news_header">
            <b>{{ news.name }}</b>
        </div>
        <div class="viewed">
            Количество просмотров: {{ news.viewed }}
        </div>
        <div class="news_content">
            {{ news.text|safe }}
        </div>
        {% if request.user.is_authenticated %}
            <div class="feedback">
                <div><b>Оставить комментарий:</b></div>
                <div class="feedback_post">
                    <form method="POST" id="post-form" class="news_item-form">
                        {% csrf_token %}
                        {{ form.comment.label_tag }}
                        <p><input class="form-required" type="text" name="{{ form.comment.name }}" value="{{ form.comment.value|default_if_none:'' }}"></p>
                        {{ form.comment.errors }}
                        {{ form.phone.label_tag }}
                        <p><input type="text" name="{{ form.phone.name }}" value="{{ form.phone.value|default_if_none:'' }}"></p>
                        {{ form.phone.errors }}
                        {{ form.email.label_tag }}
                        <p><input id="form-email" type="text" name="{{ form.email.name }}" value="{{ form.email.value|default_if_none:'' }}"></p>
                        {{ form.email.errors }}
                        <button type="submit">Сохранить</button>
                    </form>
                    <div id="post_msg">
                        {% if post_msg %}
                            Данные введены верно! Произведён успешный сабмит!
                        {% endif %}
                    </div>
                </div>
                <div class="feedback_content">
                </div>
            </div>
        {% endif %}
        <div class="comments">
            <div><b>Комментарии:</b></div>
            {% for comment in comments %}
                <div class="comments_content">
                    <span class="user">
                        {{comment.user.username}}: 
                    </span>
                    <span class="comment">
                        {{comment.comment}}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
