{% extends 'index_base.html' %}
{% load staticfiles %}

{% block title %}
    {{ news.name }}
{% endblock %}

{% block header %}
    {% include 'header_content.html' %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'scripts/scripts.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/js.cookie.js' %}"></script>
{% endblock %}

{% block content__body %}
    {% include 'news_item__content__body.html' %}
{% endblock %}
