{% extends 'index_base.html' %}
{% load staticfiles %}

{% block title %}
    Одностраничное приложение
{% endblock %}

{% block header %}
    {% include 'header_content.html' %}
{% endblock %}

{% block content__body %}
    {% include 'single_page__content__body.html' %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'scripts/single_page.js' %}"></script>
    <script src="{% static 'scripts/js.cookie.js' %}"></script>
{% endblock %}
