<table id="single-page" data-user-id="{{ request.user.id }}">
    <tr>
        <td class="asbutton" id="clickable-news">
            Все новости
        </td>
        <td class="asbutton" id="clickable-bookmark">
            Закладки
        </td>
        <td id="single-page-news-header">
            Заголовок новости
        </td>
        <td class="asbutton" id="clickable-add-bookmark">
            Добавить в закладки
        </td>
        <td class="asbutton" id="clickable-rm-bookmark" hidden>
            Удалить из закладок
        </td>
        <td id="message-add-bookmark" hidden>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table id="single-page-news">
                <tr></tr>
            </table>
        </td>
        <td id="single-page-news-text" colspan="2">
        </td>
    </tr>
</table>
