@font-face {
  font-family: 'RegalDisplayPro';
  src: url('fonts/PFRegalDisplayPro-black.otf');
  font-style: normal;
  font-weight: 800;
}

body,html{
  height: 100%;
}
.page__wrapper{
  text-align: center;
  min-height: 100%;
}
.layout{
  height: 100%;
}
.layout__inner{
  width: 640px;
  margin: 0px auto;
  margin-bottom: 40px;
  padding: 0 20px;
  border: 1px solid #000000;
  min-height: 100%;
  background-color: #313131;
}
.menu
{
  list-style-type: none;
  text-align: left;
  padding-left: 8px;
  margin: 0px;
  height: 40px;
}
.menu li{
  display: inline-block;
  cursor: pointer;
}
.menu a
{
  display: block;
  color: grey;
  text-decoration: none;
  margin-right: 5px;
  position: relative;
  font-size: 11px;
  line-height: 40px;
}
.menu a:hover {
  color: red;
}
.content__title
{
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  width: 640px;
  height: 250px;
  position: relative;
  margin-top: 20px;
}
.content__title h1
{
  color: #fff;
  position: absolute;
  bottom: 0px;
  left: 10px;
  margin-bottom: 5px;
}

h2
{
  color: #667418;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 20px;
}

.content__body {
  background-color: white;
  text-align: left;
  padding: 5px 20px 20px;
}

p, h1, h2, .footer {
    font-family: 'Times New Roman', Times, serif;
}

.footer {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: grey;
  font-size: 12px;
}

.news td:first-child {
  width: 80px;
}
